:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f5f5f5;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    background-color: #fff;
    padding: 16px 16px 14px;     
    border-bottom: 1px solid #ebebeb;
    border-radius: 0 0 10px 10px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

.player h4 {
    color: var(--primary-color);
    font-size: 12px;
}

.player h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-size: cover;
    background-color: #333;
    margin: auto;
}

/* control */
.control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    width: 100%;
    height: 6px;
    -webkit-appearance: none;
    background: #dbdbdb;
    border-radius: 15px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
    border-radius: 15px;
}

/* Playlist */
.playlist {
    margin-top: 408px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .options,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    margin: 0 8px;
    background-size: cover;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .options {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}





